body {
  /* overflow: hidden; */
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppHeader {
  background: black;
  color: white;
  padding: 5vh 0;
  font-size: 1em;
}

.AppBody {
  margin-top: 20vh;
  font-size: 150%;
}
